@model Post
@inject IOptionsSnapshot<BlogSettings> settings
@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Excerpt;
    bool showFullPost = ViewContext.RouteData.Values.ContainsKey("slug");
    string host = Context.Request.Scheme + "://" + Context.Request.Host;
    string previewImageUrl = String.IsNullOrEmpty(Model.PreviewImageUrl) ? settings.Value.DefaultFeaturedPreviewImageUrl : Model.PreviewImageUrl;
}

@section Head {
    <link rel="canonical" href="@(host + Model.GetLink())" />
}

<article class="mb-3" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    
    <figure class="bg">
        <a href="@Model.GetLink()" rel="canonical" itemprop="url">            
            <img src="@previewImageUrl" class="featured-preview" height="224"/>
        </a>
    </figure>
    <header>
        <h3 itemprop="name headline"><a href="@Model.GetLink()" rel="canonical" itemprop="url">@Model.Title</a></h3>
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Blog" asp-action="edit" asp-route-id="@Model.ID" title="Edit the post" class="edit">Edit post</a>
        }
    </header>

    <div class="excerpt" itemprop="articleBody mainEntityOfPage" cdnify>
        @Html.Raw(Model.Excerpt)
    </div>

    <footer>
        @if (Model.Categories.Any())
        {
            
        <ul class="categories">
            <li class="title">Posted in</li>
            @foreach (string cat in Model.Categories)
            {
                <li itemprop="articleSection"><a asp-controller="Blog" asp-action="Category" asp-route-category="@cat.ToLowerInvariant()">@cat</a></li>
            }
        </ul>
            <text>and has</text>
        }

        <a href="@Model.GetLink()#comments" itemprop="discussionUrl" title="Go to the comments section">
            <span itemprop="commentCount">@Model.Comments.Count</span> comments
        </a>

        <meta itemprop="author" content="@settings.Value.Owner" />
        <meta itemprop="dateModified" content="@Model.LastModified.ToString("s")" />
        <meta itemprop="mainEntityOfPage" content="@(host + Model.GetLink())" />
        <br />
        <time datetime="@Model.PubDate.ToString("s")" itemprop="datePublished">Published @Model.PubDate.ToString("MMM d, yyyy")</time>
    </footer>
</article>

@if (showFullPost)
{
    <link rel="stylesheet" href="~/css/comments.scss" />
    await Html.RenderPartialAsync("_SocialSharing", Model.Title);
    await Html.RenderPartialAsync("Comments");
}

@if (User.Identity.IsAuthenticated)
{
    @section Scripts {
        <script src="~/js/admin.js" async defer></script>
        <link rel="stylesheet" href="~/css/admin.scss" />
    }
}
