@model Review

<label asp-for="@Model.Title" class="label">Title</label>
<input asp-for="@Model.Title" required placeholder="Title of review" aria-describedby="desc_review_title" />
<span class="desc" id="desc_review_title">The review title</span>
<br />

<label asp-for="@Model.GrinderSetting" class="label">Maal stand</label>
<input asp-for="@Model.GrinderSetting" required placeholder="maal stand" aria-describedby="desc_grinder_setting" />
<span class="desc" id="desc_grinder_setting">Maal setting</span>
<br />

<label asp-for="@Model.Weigth" class="label">Shot gewicht</label>
<input asp-for="@Model.Weigth" required placeholder="maal stand" aria-describedby="desc_weight" />
<span class="desc" id="desc_weight">Maal setting</span>
<br />

<label asp-for="@Model.ShotWeight" class="label">Shot gewicht</label>
<input asp-for="@Model.ShotWeight" required placeholder="maal stand" aria-describedby="desc_shot_weight" />
<span class="desc" id="desc_shot_weight">Maal setting</span>
<br /> 